.taskDiv{
    height: 60vh;
    width: 25vw;
    border: 2px solid whitesmoke;
    margin-left: 2rem;
    border-radius: 2rem;
    p{
        padding: 1px;
        
    }
    h2{
        color: whitesmoke
    }
}