.taskDiv{
    height: 60vh;
    width: 25vw;
    border: 2px solid whitesmoke;
    margin-left: 2rem;
    border-radius: 2rem;
    p{
        padding: 1px;
        
    }
    h2{
        color: whitesmoke
    }

    button{
        background-color: #845460;
        box-shadow: none;
        color: whitesmoke;
        padding: 2px;
        margin: 2px;
    }
    input{
        text-decoration: underline;
        outline-style: none;

    }
}