.taskDiv {
  height: 80vh;
  width: 25vw;
  margin-left: 2rem;
  box-shadow: 10px 10px 5px #dcdcdc;
  position: relative;

  p {
    padding: 1px;
  }
  .task-header {
    height: 7vh;
    line-height: 7vh;
    color: white;
    font-weight: 400;
    text-align: center;
  }

  button {
    background-color: #845460;
    box-shadow: none;
    color: whitesmoke;
    padding: 2px;
    margin: 2px;
  }
  input {
    text-decoration: underline;
    outline-style: none;
  }
  .addATaskDiv{
    position: absolute;
    bottom: 7px;
    margin: 0.5rem
  }
 
}

